 <div class="container">
      <div id="loggedin">
      	<h1>[tbjradio]</h1>
      	<br />
      	<% if( typeof profile !== 'undefined' && profile) { %>     	
      	<script type="text/javascript">
      	$.getJSON("<%- sails.config.url_base %>/spotify/get_user_play_lists",
			function(data){
  				if(data.result === "OK") {
  					loadPlaylists(data);
  				}	
			},
			function(jqXHR, textStatus, errorThrown) {
    			alert('error ' + textStatus + " " + errorThrown);
			}
		);
				
		function loadPlaylists(data) {
			var html = '<ul>';
  			$.each(data.playlists.items, function( index, item ) {
  				html +=  '<li>';
            	html +=  '<a href="#" class="load" data-id="'+item.id+'">'+item.name+'</a>';
        		html +=  '</li>';
			});
			html += '</ul>';
			$('#playlists-result').html(html);
		}
		
		/*
		$('#playlists-result').addEventListener('click', function(e) {
    		var target = e.target;
    		if (target !== null && target.classList.contains('load')) {
        		e.preventDefault();
        	var id = target.getAttribute('data-id');            
        	$.ajax({
            	url: <%- sails.config.url_base %>/spotify/get_user_play_list,
            	data: {id: id}
            	success: function(response) {
                	//TODO procesar el response.	            
            	}
        	});
    	});
    	*/ 	
      	</script>
        <div id="user-profile">
        	<h2>Hello, <%- profile.display_name %>!</h2>
        	<a href="/admin/logout"><i class="icon-off"></i> Log out</a>
        	<div class="media">
        		<div class="pull-left">
          			<img class="media-object" width="150" src="<%- profile.images[0].url %>" />
        		</div>
        		<div class="media-body">
          			<dl class="dl-horizontal">
            			<dt>Id</dt><dd><%- profile.id %></dd>
            			<dt>Email</dt><dd><%- profile.email %></dd>
          			</dl>
        		</div>
        	</div>	
        </div>
        <div id="playlists">
        	<div id="playlists-head">
        		<h3>[Your playlists]</h3>
        	</div>
        	<div id="playlists-result"></div>
        </div>
        <% } %>
      </div>
 </div>