<!--SCRIPTS-->
<script src="/linker/js/spotify.js"></script>
<!--SCRIPTS END-->

<div class="container">
    <div id="loggedin">
        <h1>[tbjradio]</h1><br/>

        <% if( typeof spotifyUser !== 'undefined' && spotifyUser) { %>

        <script type="text/javascript">
            getUserPlayLists("<%- sails.config.url_base %>/spotify/get_user_play_lists", "#playlists-list");
        </script>

        <div id="user-profile">
            <% if(spotifyUser.display_name != null){ %>
            <h2>Hello, <%- spotifyUser.display_name %>!</h2>
            <% } %>
            <a href="<%- sails.config.url_base %>/admin/logout"><i class="icon-off"></i> Log out</a>

            <div class="media">
                <% if(spotifyUser.images && spotifyUser.images[0].url != null) { %>
                <div class="pull-left">
                    <img class="media-object" width="150" src="<%- spotifyUser.images[0].url %>"/>
                </div>
                <% } %>
                <div class="media-body">
                    <dl class="dl-horizontal">
                        <dt>Id</dt>
                        <dd><%- spotifyUser.id %></dd>
                        <% if(spotifyUser.email != null) { %>
                        <dt>Email</dt>
                        <dd><%- spotifyUser.email %></dd>
                        <% } %>
                    </dl>
                </div>
            </div>
        </div>

        <div id="playlists">
            <div id="playlists-list"></div>
            <div id="playlist-detail"></div>
        </div>

        <script type="text/javascript">
            getUserPlayList("<%- sails.config.url_base %>/spotify/get_user_play_list", "#playlists-list", "#playlist-detail");
        </script>

        <% } %>
    </div>
</div>